body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
   }

h1 {
    color: white;
}

label[for="delNumber"] {
    color: white;
}

table {
    color:white;
}

label[for="toDo"] {
    color: white;
}